@{
    ViewData["Title"] = "App Investigacion";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Aplicacion de prueba para la investigacion del curso Algoritmos y Estruturas de Datos Lineales 1 .</p>
</div>
